@use './variables'
@use './mixin'

main
    .profile
        background-color: #2e2d2d

        .about
            @include mixin.container-profile
            text-align: center
            padding-top: 5%

            img
                width: 100px
                height: 100px
                border-radius: 50%
                border: variables.$secondary-color solid 3px

            h1
                padding: 5px

    .projects 
        .project
            background-color: #2e2d2d

            h2
                text-align: center
                padding-bottom: 10px

                i
                    margin-right: 10px

            footer
                display: flex
                justify-content: space-between
                margin-top: 5px
                padding: 10px

                span
                    font-weight: bolder

                .links a i
                    font-size: 1.5em
                    padding-left: 5px

    @media only screen and (max-width: 849px)
        .profile
            margin: auto
            width: 90%
            border-radius: 10px
            border: variables.$secondary-color solid 1px
            margin-bottom: 50px

            .infos
                @include mixin.container-profile
                text-align: center
                font-size: 1.25em

                li i
                    margin-right: 10px

            .technologies
                margin-left: 20px
                text-align: center

                li
                    margin-bottom: 10px

        .projects
            width: 90%
            margin: auto

            .project
                padding: 10px 20px
                border-radius: 10px
                border: variables.$secondary-color solid 1px

    @media only screen and (min-width: 850px)
        .profile
            position: fixed
            height: 100%
            width: 20vw
            border-radius: 0px 20px 20px 0px
            border-right: variables.$secondary-color solid 2px

            .infos
                @include mixin.container-profile

                li i
                    font-size: 1.25em
                    margin-right: 10px

            .technologies
                @include mixin.container-profile

        .projects
            display: flex
            justify-content: space-between
            margin-left: 23vw

            .project
                padding: 10px 20px
                width: 40%
                border-radius: 10px
                border: variables.$secondary-color solid 1px
